/* Cheltenham Becker Old Style */
@font-face {
  font-family: 'Cheltenham Becker Old Style';
  font-style: normal;
  font-weight: 400;
  src: url(https://typeface.wederson.com/Cheltenham-Becker-Old-Style-Regular.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Neo Sans Bold */
@font-face {
  font-family: 'Neo Sans Bold';
  font-style: normal;
  font-weight: 400;
  src: url(https://typeface.wederson.com/Neo-Sans-Std-Bold.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Neo Sans Regular */
@font-face {
  font-family: 'Neo Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: url(https://typeface.wederson.com/Neo-Sans-Std-Regular.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Neo Sans Light */
@font-face {
  font-family: 'Neo Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url(https://typeface.wederson.com/Neo-Sans-Std-Light.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Neo Sans Medium */
@font-face {
  font-family: 'Neo Sans Medium';
  font-style: normal;
  font-weight: 500;
  src: url(https://typeface.wederson.com/Neo-Sans-Std-Medium.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Neo Sans Black */
@font-face {
  font-family: 'Neo Sans Black';
  font-style: normal;
  font-weight: 900;
  src: url(https://typeface.wederson.com/Neo-Sans-Std-Black.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Neo Sans Italic */
@font-face {
  font-family: 'Neo Sans Italic';
  font-style: italic;
  font-weight: 400;
  src: url(https://typeface.wederson.com/Neo-Sans-Std-Italic.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* PremierLeagueRegular */
@font-face {
  font-family: 'Premier League';
  font-style: normal;
  font-weight: 400;
  src: url(https://typeface.wederson.com/PremierLeagueW01-Regular.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* PremierLeagueBold */
@font-face {
  font-family: 'Premier League Bold';
  font-style: bold;
  font-weight: 700;
  src: url(https://typeface.wederson.com/PremierLeagueBold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* PremierLeagueItalic */
@font-face {
  font-family: 'Premier League Italic';
  font-style: italic;
  font-weight: 400;
  src: url(https://typeface.wederson.com/PremierLeagueW01-Italic.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* PremierLeagueBoldItalic */
@font-face {
  font-family: 'Premier League Bold Italic';
  font-style: italic, bold;
  font-weight: 400;
  src: url(https://typeface.wederson.com/PremierLeagueW01-BoldItalic.woff2) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}